body{
	background-color: #212220;
	margin: 0;
	font-family: 'Montserrat', 'Avenir';
}

.square{
	width: 23%;
	margin: 1%;
	float: left;
	background-color: purple;
	padding-bottom: 23%;
	border-radius: 20%;  /*50% is circle*/
	transition: background-color 0.6s;
	-webkit-transition: background-color 0.6s;
	-moz-transition: background-color 0.6s;
}
.circle{
	width: 44%;
	height: 70px;
	margin: 10px 3%; 
	float: left;
	background-color: purple;
	color: black;
	text-transform: uppercase;
	padding-top: 42px;
	font-size: 20px;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	display: none;
	border-radius: 5%;
}

#color_box{
	margin-top: 20px;
	margin-left: 10%;
	max-width: 600px;
}

#past_answers{
	overflow: hidden;
	margin-left: 60%;
	max-width: 600px;
	padding: 20px 0px;
	color: rgb(204, 215, 214);
	background-color: #212220;
	line-height: 1.1;
	text-align: center;
	border-radius: 3%;
}

#storage{
	margin: 20px auto;
	max-width: 600px;
}

h1{
	padding: 20px 0px;
	line-height: 1.1;
	text-align: center;
	color: rgb(204, 215, 214);
	background-color: rgb(3, 76, 132);
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	transition: background-color 0.6s;
	-webkit-transition: background-color 0.6s;
	-moz-transition: background-color 0.6s;
}

h2{
	font-size: 200%;
	border-bottom: 2px solid rgb(204, 215, 214);
	border-radius: 15%;
}

#answer{
	font-size: 200%;
}

#buttons{
	background-color: rgb(204, 215, 214);
	height: 30px;
	text-align: center;
	color: black;
}

.selected{
	background-color: rgb(3, 76, 132); 
	color: rgb(204, 215, 214);
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: rgb(3, 76, 132);
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	outline: none;
}

button:hover{
	background-color: rgb(3, 76, 132); 
	color: rgb(204, 215, 214);
}

#message{
	display: inline-block;
	width: 20%;
}

/*README! README! README! README!*/
#readme_body{
	background-color: rgb(125, 125, 125);
	color: white;
}


#introduction_header{
	padding: 20px 0px;
	line-height: 1.1;
	text-align: center;
	color: rgb(204, 215, 214);
	background-color: rgb(3, 76, 132);
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 40px;
	border-bottom: 2px solid rgb(204, 215, 214);
	border-radius: 5%;
}

#explanations_div{
	margin: 15px;
}

#explanations{
	padding: 20px 0px;
	line-height: 1.1;
	text-align: center;
	margin: 15px;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 20px;

}

#ulll{
	padding: 20px 0px;
	line-height: 1.1;
	text-align: left;
	margin: 15px;
	font-weight: normal;
	font-size: 20px;
}

#note_div{
	padding: 20px 0px;
	line-height: 1.1;
	text-align: left;
	margin: 15px;
	font-weight: normal;
	font-size: 20px;
}

strong{
	text-transform: uppercase;
}

.black{
	font-size: 1.4em;
	color: black;
}
.red{
	font-size: 1.4em;
	color: red;
}
.green{
	font-size: 1.4em;
	color: green;
}
.blue{
	font-size: 1.4em;
	color: blue;
}
.white{
	font-size: 1.4em;
	color: white;
}